.button {
  display: inline-block;
  padding: 8px 12px;
  border: none;
  margin-left: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.36;
  transition: all 250ms var(--cubic-bezier);
}

.primary {
  background-color: var(--acept-color);
}

.primary:hover {
  background: var(--secondary-button-color);
  outline: 1px solid var(--border-color);
}

.secondary {
  background: var(--secondary-button-color);
  outline: 1px solid var(--border-color);
}

.secondary:hover {
  background-color: var(--acept-color);
  outline: none;
}
