.gridWrapper {
  display: grid;
  grid-template-columns: minmax(320px, 768px);
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  grid-template-areas:
    'header'
    'main'
    'footer';
}
.header {
  grid-area: header;
}

.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

@media screen and (min-width: 768px) {
  .gridWrapper {
    grid-template-columns: 230px minmax(320px, 1200px);
    grid-template-rows: 1fr auto;
    gap: 0 30px;
    grid-template-areas:
      'sidebar main '
      ' footer footer';
  }
  .header {
    display: none;
  }
  .sidebar {
    grid-area: sidebar;
  }
}
