.gridWrapper {
  display: grid;
  grid-template-columns: minmax(320px, 768px);
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  grid-template-areas:
    'header'
    'main'
    'footer';
}
.header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
  display: none;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}
@media screen and (min-width: 768px) {
  .gridWrapper {
    grid-template-columns: auto 230px minmax(320px, 1200px) auto;
    grid-template-rows: 1fr auto;
    gap: 0 30px;
    grid-template-areas:
      '. sidebar main .'
      'footer footer footer footer';
  }
  .header {
    display: none;
  }
  .sidebar {
    display: block;
  }
}
