.gridWrapper {
  display: grid;
  grid-template-columns: minmax(320px, 768px);
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  min-height: 100vh;

  grid-template-areas:
    'header'
    'main'
    'footer';
}
.header {
  grid-area: header;
}

.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

@media screen and (min-width: 768px) {
  .gridWrapper {
    grid-template-columns: 230px auto minmax(320px, 1200px);
    grid-template-rows: 1fr auto;
    gap: 40px 30px;
    margin-right: auto;
    margin-left: auto;
    grid-template-areas:
      'sidebar  main   main'
      ' footer footer  footer';
  }
  .header {
    display: none;
  }
  .sidebar {
    grid-area: sidebar;
  }
}
.mainWrapper {
  padding: 40px 30px;
}
