.topPageWrapper {
  padding-top: 35px;
  padding-right: 35px;
}

.pageComponentTitleBox {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-items: left;

  gap: 20px;
}
