.menu {
  margin-top: 20px;
}

.firstElement {
  display: grid;
  align-items: center;
  grid-template-columns: 24px 1fr;
  gap: 15px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.39;

  color: var(--secondary-text-color);
  transition: color 300ms var(--cubic-bezier);
}

.firstElement svg {
  fill: var(--secondary-text-color);
  transition: fill 300ms var(--cubic-bezier);
}

.firstElement:hover svg {
  fill: var(--acept-color);
}

.firstElement:hover,
.secondLevel:hover,
.thirdLevel:hover {
  color: var(--acept-color);
}

.firstElementActive,
.secondLevelOpen {
  color: var(--acept-color);
}

.firstElementActive svg {
  fill: var(--acept-color);
}

.secondlevelBox {
  margin-left: 10px;
  padding-left: 30px;
  border-left: 1px solid var(--menu-border-right);
}

.secondLevel {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  margin-bottom: 10px;
  cursor: pointer;
  color: var(--secondary-text-color);
  transition: color 300ms var(--cubic-bezier);
}

.secondLevel:last-child {
  margin-bottom: 30px;
}

.thirdLevel {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.36;
  margin-bottom: 10px;
  cursor: pointer;
  color: var(--secondary-text-color);
  transition: color 300ms var(--cubic-bezier);
}
