.menu {
	margin-top: 20px;
}

.firstElement {
	display: grid;
	align-items: center;
	margin-bottom: 20px;
	color: var(--secondary-text-color);
	font-size: 18px;
	font-weight: 500;
	gap: 15px;
	grid-template-columns: 24px 1fr;
	line-height: 1.39;
	transition: color 300ms var(--cubic-bezier);
}

.firstElement svg {
	fill: var(--secondary-text-color);
	transition: fill 300ms var(--cubic-bezier);
}

.firstElement:hover svg {
	fill: var(--acept-color);
}

.firstElement:hover,
.secondLevel:hover,
.thirdLevel:hover {
	color: var(--acept-color);
}

.firstLevelActive,
.secondLevelOpen {
	color: var(--acept-color);
}

.firstLevelActive svg {
	fill: var(--acept-color);
}

.secondlevelBox {
	padding-left: 30px;
	border-left: 1px solid var(--menu-border-right);
	margin-left: 10px;
}

.secondLevelBlock {
	display: none;
}

.secondLevelBlockOpened {
	display: block;
}

.secondLevel {
	margin-bottom: 10px;
	color: var(--secondary-text-color);
	cursor: pointer;
	font-size: 12px;
	font-weight: 300;
	line-height: 1.33;
	text-transform: uppercase;
	transition: color 300ms var(--cubic-bezier);
}

.secondLevel:last-child {
	margin-bottom: 30px;
}

.thirdLevel {
	display: block;
	margin-bottom: 10px;
	color: var(--secondary-text-color);
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.36;
	transition: color 300ms var(--cubic-bezier);
}

.thirdLevelActive {
	color: var(--acept-color);
}
