.sidebarBox {
}
@media screen and (max-width: 767px) {
  .sidebarBox {
    display: none;
  }
}

.logoIcon {
  margin-bottom: 10px;
  max-width: 159px;
  max-height: 43px;
}
.form {
  max-height: inherit;
}
