.sidebarBox {
}

@media screen and (max-width: 767px) {
	.sidebarBox {
		display: none;
	}
}

.logoIcon {
	max-width: 159px;
	max-height: 43px;
	margin-bottom: 10px;
}

.form {
	max-height: inherit;
}
